.DS_Store/
.idea/
.vagrant/
public/img/
public/hot/
public/storage/
laravel/public/fonts/
node_modules/
storage/
vendor/
.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
composer.lock
public/mix-manifest.json
package-lock.json
phpunit.dusk.xml
